* {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(65, 63, 63);
}
/* 
nav {
  display: flex;
  border: 1px solid black;
  align-items: center;
  padding: 20px 40px;
  position: sticky;
  border-radius: 20px;
  top: 0;
  z-index: 10;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(10px);
}
*/

/* nav.scrolled {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin-top: 12px;
  transform: translateY(20px); 
} */

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 10;
  transition: all 0.3s ease;
  margin-right: 200px;
  font-family: Arial, Helvetica, sans-serif;
  gap: 30px;
}

#menu-icon {
  display: none;
}
#menu-crossicon {
  display: none;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 30px;
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
}

.coffee-btn {
  background-color: #e6c200;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  padding: 9px;
  margin-right: 20px;
  border-radius: 10px;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: auto;
}

.navbar {
  display: flex;
  gap: 30px;
  margin-left: 20px;
  padding-left: 10px;
  gap: 50px;
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.home {
  background-color: #f4f4f4;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  /* box-sizing: border-box; */
  font-size: 15px;
  /* background: transparent; */
}

#paragraph {
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: bolder; */
  font-size: 15px;
}

.about {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  font-size: 17px;
  margin: 2px auto;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -120px;
  padding: 250px;
  display: flex;
  box-sizing: border-box;
}

.container i {
  /* border: 1px solid black; */
  border-radius: 30px;
  font-size: 15px;
  text-align: left;
  background-color: #ffffff;
  width: 100%;
  padding-left: 10px;
}

.about p {
  font-size: 20px;
  margin-top: 40px;
  background-color: #ffffff;
  height: 100px;
  width: 100%;
  border-radius: 25px;
  line-height: 30px;
  padding: 40px;
  border: 1px solid #ccc;
  text-align: left;
}

.abt-text {
  margin: 0 0 10px 0;
  font-size: 30px;
}

.container {
  display: grid;
  gap: 40px;
  margin-top: 40px;
  grid-template-columns: auto auto auto;
}

.container div {
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: #ffffff;
  padding: 13px;
  text-align: center;
  /* justify-content: center; */
  font-size: 10px;
}

.container h1 {
  font-size: 18px;
}

.container h3 {
  font-size: 18px;
  font-weight: normal;
}

.contact {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.project {
  /* margin-top: 0px; */
  height: 1350px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

.project h1 {
  margin-bottom: 20px;
  font-size: 30px;
}

.projectimage {
  width: 100%;
  border-radius: 15px;
  /* background-color: #e6c200; */
}

.skills {
  /* height: 100vh; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  display: flex;
  font-size: 20px;
  /* box-sizing: border-box; */
  /* background: transparent; */
  background-color: #f4f4f4;
}

.skills h1 {
  font-size: 30px;
}
.skillbox {
  /* border: 1px solid black; */
  border-radius: 10px;
  background-color: #ffffff;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container div {
  margin: 30px;
  padding: 15px;
  font-size: 14px;
  width: 290px;
}

.flex-container div:hover {
  transform: translateY(-5px);
}

.flex-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
}

.flex-container2 div {
  margin: 5px;
  padding: 15px;
  font-size: 14px;
  width: 500px;
  border-radius: 20px;
  border: 1px;
  background-color: #ffffff;
  height: 500px;
}

.flex-container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
}

.flex-container3 div {
  margin: 5px;
  margin-top: 40px;
  padding: 15px;
  font-size: 14px;
  width: 500px;
  border-radius: 20px;
  border: 1px;
  background-color: #ffffff;
  height: 500px;
}

.button-style {
  display: inline-block;
  border: gray solid 2px;
  /* background-color: #c8c4c4; */
  border-radius: 10px;
  font-size: 15px;
  text-decoration: none;
  color: #111;
  padding: 5px;
  gap: 20px;
}

.project-button {
  display: flex;
}

.home p {
  font-family: "Press Start 2P", system-ui;
  font-size: 11px;
  text-align: center;
  line-height: 2;
  max-width: 800px;
  margin: 20px auto;
  /* color: whitesmoke; */
}

.button-group {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.download {
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid #ddd;
  border-radius: 50px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  text-decoration: none;
  /* background-color: #fff; */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.explore {
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid #ddd;
  border-radius: 50px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  text-decoration: none;
  /* background-color: #fff; */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}
.download:hover {
  /* background-color: #c8c4c4; */
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
.explore:hover {
  /* background-color: #c8c4c4; */
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.contact h1 {
  font-size: 30px;
}

form {
  background-color: #fff;
  max-width: 400px;
  width: 50%;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* border: 1px solid black; */
  border-radius: 20px;
}

label {
  display: flex;
  flex-direction: column;
}

input {
  /* border: 1px solid black; */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
  /* resize: vertical; */
  resize: none;
}

input:focus {
  /* outline: none; */
  border-color: black;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}
.textarea:focus {
  /* outline: none; */
  border-color: black;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}
button {
  padding: 12px;
  border: none;
  background-color: gainsboro;
  color: black;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #898989;
}
label {
  display: flex;
  flex-direction: column;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.icon span {
  margin-left: 10px;
}

.connect-container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem 1rem;
  background-color: #e3dede;
}

.connect-container a p {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 0;
}
#contact {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #000;
}

#connect-heading {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  margin-bottom: 2rem;
}

.icon-row {
  display: flex;
  justify-content: center;
  gap: 5rem;
  /* background-color: violet; */
  flex-wrap: wrap;
}

.icon-row a {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  text-align: center;
  color: black;
}

.icon-row a:hover {
  color: #898989;
}

.connect-box {
  padding: 10px;
  max-width: 1500px;
}

#hello {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2rem;
  /* background-color: #f4f4f4; */
}

#navarea {
  margin-right: 10px;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 1024px) {
  * {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(65, 63, 63);
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    box-sizing: border-box;
    /* border: 1px solid red; */
  }
  body {
    overflow-x: hidden;
    max-width: 100%;
    /* padding-top: 60px; */
  }
  #menu-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    display: block;
    cursor: pointer;
  }

  #menu-crossicon {
    position: absolute;
    left: 10px;
    top: 10px;
    display: none;
    cursor: pointer;
  }
  .coffee-btn {
    background-color: #e6c200;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    padding: 9px;
    margin-right: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0;
    margin-top: 0;
    display: flex;
    width: 150px;
    height: 40px;
  }

  .navbar {
    display: none;
  }
  #navbar {
    width: 100%;
    box-sizing: border-box;
  }
  .show-navbar {
    background-color: red;
    display: none;
    gap: 20px;
    margin-left: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    background: transparent;
    z-index: 1000;
    width: 100%;
    padding: 30px;
  }
  .icon {
    /* background-color: red; */
    display: block;
    height: 100px;
    width: 200px;
  }

  .navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .logo {
    font-size: 24px;
    font-weight: bold;
    display: none;
    margin-right: 30px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .about {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    font-size: 17px;
    margin: 2px auto;
    height: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1px;
    padding: 10px;
    display: flex;
    /* min-height: 100vh; */
    /* box-sizing: border-box; */
  }
  .abt-text {
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
  .about p {
    font-size: 15px;
    margin-top: 15px;
    background-color: #ffffff;
    height: auto;
    width: 80%;
    border-radius: 20px;
    line-height: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: left;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    height: 10%;
    /* grid-template-columns: auto auto auto; */
  }

  .container div {
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #ffffff;
    padding: 13px;
    gap: 10px;
    text-align: center;
    font-size: 10px;
    text-align: left;
  }

  .container h1 {
    font-size: 17px;
    margin: 0;
  }

  .container h3 {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
  }
  .container i {
    font-size: 20px;
    text-align: left;
  }
  .skills {
    gap: 5px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    display: flex;
    font-size: 20px;
    background-color: #f4f4f4;
    scroll-margin-top: 30px;
  }

  .skills h1 {
    font-size: 25px;
    margin-top: 1px;
    margin-bottom: 20px;
    text-align: center;
  }

  .skills h2 {
    font-size: 18px;
    display: block;
    justify-content: center;
    align-items: start;
    padding: 15px;
    height: auto;
  }

  .skills p {
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .skillbox {
    max-width: 300px;
    min-height: 150px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 25px;
    /* background-color: #ffffff; */
    padding: 13px;
    text-align: center;
    font-size: 10px;
    text-align: left;
    width: 80%;
    margin-bottom: 20px;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    margin-top: 2px;
  }
  .flex-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 15px;
    width: 80%;
  }
  .project {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    display: block;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    min-height: auto;
    height: auto;
    margin-bottom: 0;
    padding-bottom: 20px;
    margin-top: 1px;
  }

  .project h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
  }

  .projectimage {
    width: 100%;
    height: 150px;
    border-radius: 15px;
    display: block;
  }
  .flex-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
  }

  .flex-container2 div {
    margin: 5px;
    padding: 15px;
    font-size: 14px;
    width: 400px;
    border-radius: 20px;
    border: 1px;
    background-color: #ffffff;
    height: auto;
    border: 1px solid #ddd;
  }

  .flex-container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    /* background-color: purple; */
    gap: 2px;
  }

  .flex-container3 div {
    margin: 5px;
    padding: 15px;
    font-size: 14px;
    width: 400px;
    border-radius: 20px;
    border: 1px;
    background-color: #ffffff;
    height: auto;
    border: 1px solid #ddd;
  }
  .contact {
    display: flex;
    min-height: 100vh;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    margin-top: 1px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    /* justify-content: center; */
    /* align-items: center; */
  }

  .contact h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
  }

  form {
    background-color: #fefffe;
    max-width: 400px;
    width: 95%;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* border: 1px solid black; */
    border-radius: 20px;
  }

  label {
    display: flex;
    flex-direction: column;
  }

  input {
    /* border: 1px solid black; */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 18px;
    font-size: 16px;
  }

  textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 18px;
    font-size: 16px;
    resize: none;
  }

  input:focus {
    /* outline: none; */
    border-color: black;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
  }
  .textarea:focus {
    /* outline: none; */
    border-color: black;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
  }
  button {
    padding: 12px;
    border: none;
    background-color: rgb(235, 231, 231);
    color: black;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #898989;
  }
  label {
    display: flex;
    flex-direction: column;
  }

  .icon {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .icon span {
    margin-left: 10px;
  }

  .connect-container {
    background-color: rgb(235, 231, 231);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem 1rem;
    /* background-color: #f4f4f4; */
  }

  .connect-container a p {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 0;
  }

  #connect-heading {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    margin-bottom: 2rem;
  }

  .icon-row {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .icon-row a {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    text-align: center;
    color: black;
    cursor: pointer;
  }

  .icon-row a:hover {
    color: #767373;
  }

  .connect-box {
    padding: 10px;
    max-width: 1500px;
  }

  #hello {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2rem;
    /* background-color: #f4f4f4; */
  }

  #navarea {
    margin-right: 10px;
  }
}
